@font-face {
  font-family: 'exo2';
  src: local('exo2'), url('./fonts/exo2.woff') format('woff');
}
body {
  background-image: url("./assets/images/background.png");
  padding: 0;
  margin: 0;
  font-family: TrebuchetMS, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
